@import "../index.scss";


header {
    @include standard-margin;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 3;
}

nav {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
}

li {
    width: 100%;

    .home-button {
        @include nav-button;
        background-color: black;
        color: $color2;
    }
    
    .other-button {
        @include nav-button;
        background-color: $color2;
    }

    .active-button {
        @include nav-button;
        border: solid 1px whitesmoke;
        border-bottom: solid 2px black;
        background-color: whitesmoke;
    }

    .code-button {
        @include nav-button;
        // background-color: $color1;
    }

    .games-button {
        @include nav-button;
        background-color: $color3;
        color: $color1;
    }
    .music-button {
        @include nav-button;
        background-color: $color5;
    }

}
