@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

body {
  box-sizing: border-box;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  // font-family: 'Gruppo', cursive;
  font-size: 28px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

p {
  font-family: 'Raleway', sans-serif;
}


