        @mixin standard-margin {
            width: 95%;
            margin: 0 auto;
        }
        
        @mixin nav-button {
            width: 80px;
            height: 40px;
        }

        @mixin image-credit {
            
        }

